
body{
font-family: Arial, Helvetica, sans-serif;
background-image:URL("https://cdn.wallpapersafari.com/22/32/RWg5f1.png");
background-size:cover;
}
h2{
text-align:center;
margin-top:1rem;
color:white;
}


form{
display:flex;
padding:2rem;
margin:2rem;
gap:2rem;
text-align:center;
justify-content:center;
align-items:center;
}
input{
height:2rem;
width:50%;
}
div{
background-color:rgba(0,0,0,0.5);
margin:10rem;
padding:1.5rem;
}


/* CSS */
button{
  appearance: button;
  background-color: #191970;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 30%;
}

button:after {
  background-clip: padding-box;
  background-color:#191970;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.9);
  -webkit-filter: brightness(1.9);
}

button:disabled {
  cursor: auto;
}

button:active {
  border-width: 4px 0 0;
  background: none;
}

table{
margin:1rem;
padding:1rem;
text-align:center;
color:#221111;
}
tr{
background-color:grey;
padding:0.5rem;
}
th{
color:white;
}
a:link {
  text-decoration: none;
}